html, body, div, h3, p, ol, ul, li {
    margin: 3;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  section {
    margin-left: 500px;
  }

  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  