form {
    border: none;
    border-radius: 3px;
    padding: 40px;
    width: 800px;
    margin: 0 auto;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    background-color: #03a9f4;
}

